blinker==1.4
certifi==2020.6.20
click==7.1.2
Flask==1.0
Flask-Login==0.3.2
Flask-SQLAlchemy==2.1
flup==1.0.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
MySQL-python==1.2.5
mysqlclient==1.4.6
SQLAlchemy==1.0.11
Werkzeug==0.15.3
