<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% with auth_message=auth_message %}
    {% include 'header.html' %}
{% endwith %}

<div id='account-page' class='page'>
    <div class='container'>

        {% if message %}
        <p class='highlight'>{{ message }}</p>
        {% endif %}

        <div class='row'>
            <div class='col-md-12'>
                <h2>Your Account</h2>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4'>
                <div class='section'>
                    <h4>Manage Your Data</h4>
                    <p>Download your data as a zipped directory with one TSV file for every month.</p>
                    <a class='btn btn-primary' href='account/download'>Download Data</a>
                </div>
                <div class='section'>
                    <h4>Change Password</h4>
                    <form action='account/update' method='POST'>
                        <div class='form-group'>
                            <label>Old password</label>
                            <input type='password' class='form-control' name='oldpassword' autocomplete='off'>
                        </div>
                        <div class='form-group'>
                            <label>New password</label>
                            <input type='password' class='form-control' name='newpassword1' autocomplete='off'>
                        </div>
                        <div class='form-group'>
                            <label>Confirm new password</label>
                            <input type='password' class='form-control' name='newpassword2' autocomplete='off'>
                        </div>
                        <button class='btn btn-primary'>Update Password</button>
                    </form>
                </div>
                <div class='section' id='delete-account-section'>
                    <h4 class='highlight'>Delete Account</h4>
                    <p class='highlight'><strong>This cannot be undone.</strong></p>
                    <form action='account/delete' method='POST'>
                        <button class='btn btn-danger'
                                onclick='return confirm("Are you sure? This cannot be undone.");'>
                            Delete Account
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
