<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<link href='https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.css' rel='stylesheet' type='text/css' />
<script src='https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.js'></script>
<script src='static/js/expenses.js'></script>

<div id='expenses-page'>
    <div id='expense-controls' class='container-full'>
        <div class='container'>
            <div class='row'>
                <div id='details' class='col-md-2'>
                    {% if month_string %}
                        <p>{{ month_string }}</p>
                    {% endif %}
                    {% if category %}
                        <p>{{ category.name|capitalize }}</p>
                    {% endif %}
                    <p class='highlight'>
                        <strong>Sum: ${{ category_sum }}*</strong>
                    </p>
                    <p class="note">*Rent/mortgage excluded</p>
                </div>
                <div id='previous-expenses' class='col-md-2'>
                    <form action='expenses' method='get'>
                        {% if year and month %}
                        <input type='hidden' name='year' value='{{ year }}'>
                        <input type='hidden' name='month' value='{{ month }}'>
                        {% endif %}
                        <div class='form-group'>
                            <select class='form-control' name='category_id'>
                                <option>All</option>
                                {% for category in categories %}
                                <option value="{{ category.id }}">
                                    {{ category.name|capitalize }}
                                </option>
                                {% endfor %}
                            </select>
                            <button class='btn btn-info'>View category</button>
                        </div>
                    </form>
                </div>
                <div class='col-md-2'>
                    <a id='previous-expenses-btn' class='btn btn-info' href='expenses/all'>Previous months</a>
                    <a class='btn btn-info' href='report{{ query_string }}'>Report</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <td>Cost ($)</td>
                        <td>Comment</td>
                        <td>Category</td>
                        <td>Discretionary</td>
                        <td>Time</td>
                        <td></td>
                    </tr>
                </thead>
                {% for expense in expenses %}
                <tr>
                    <td>{{ '%0.2f'| format(expense.cost|float) }}</td>
                    <td>{{ expense.comment }}</td>
                    <td>{{ expense.category.name|capitalize }}</td>
                    <td>{{ 'Yes' if expense.discretionary else 'No' }}</td>
                    <td>{{ expense.date_time.strftime('%d %b %Y - %H:%M') }}</td>
                    <td>
                        <form action='expenses/edit' method='get'>
                            <input type='hidden' name='id' value='{{ expense.id }}'>
                            <input class='btn btn-primary' type='submit' value='Edit'>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
