<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
    
{% include 'header.html' %}

<link href='https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.css' rel='stylesheet' type='text/css' />
<script src='https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.js'></script>
<script src="static/js/all.js"></script>

<div id='expenses-all-page' class='container'>
    <h3>All expenses</h3>
    <div id='previous-button'>
        <a href='expenses/previous' class='btn btn-info'>Back</a>
    </div>
    <table class='table'>
        <thead>
            <tr>
                <td>Cost ($)</td>
                <td>Comment</td>
                <td>Category</td>
                <td>Discretionary</td>
                <td>Time</td>
                <td></td>
            </tr>
        </thead>
        {% for expense in expenses %}
        <tr>
            <td>{{ '%0.2f'| format(expense.cost|float) }}</td>
            <td>{{ expense.comment }}</td>
            <td>{{ expense.category.name|capitalize }}</td>
            <td>{{ 'Yes' if expense.discretionary else 'No' }}</td>
            <td>{{ expense.date_time.strftime('%d %b %Y - %H:%M') }}</td>
            <td>
                <a class='btn btn-primary' href='expenses/edit?id={{ expense.id }}'>Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% include 'footer.html' %}

</div>
</body>
</html>
