<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
<div class='container'>
    
    {% include 'header.html' %}
    
    <h3>Expenses</h3>
    <div>
        
        <p>
            <a class='btn btn-primary' href='expenses/all'>View All Reports</a>
        </p>
        <ul id='category-list' class='list-inline'>
            <li><a class='btn btn-default' href="expenses">all</a></li>
        {% for category in categories %}
            <li><a class='btn btn-default' href="expenses?category={{ category }}">{{ category }}</a></li>
        {% endfor %}
        </ul>
        
        <p class='highlight'>Sum: {{ category_sum }}</p>
    </div>
    <div class='table-responsive'>
        <table class='table'>
            {% for expense in expenses %}

            <tr>
                <td>{{ expense.cost }}</td>
                <td>{{ expense.comment }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.datetime }}</td>
            </tr>

            {% endfor %}
        </table>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
