<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
<div class='container'>
    
    {% include 'header.html' %}
    
    <h3>Expenses</h3>
    <div>
        
        <ul class='list-inline'>
            <li>
                <a class='btn btn-primary' href='/slate/expenses/all'>View All Reports</a>
            </li>
            <li>
                <a class='btn btn-primary' href='/slate/expenses/plot'>View Plot</a>
            </li>
        </ul>
        <ul id='category-list' class='list-inline'>
            <li><a class='btn btn-default' href='/slate/expenses'>all</a></li>
        {% for category in categories %}
        <li><a class='btn btn-default' href='/slate/expenses{{ query_string }}category={{ category }}'>{{ category }}</a></li>
        {% endfor %}
        </ul>
        
        <p class='highlight'>Sum: {{ category_sum }}</p>
    </div>
    <div class='table-responsive'>
        <table class='table'>
            {% for expense in expenses %}

            <tr>
                <td>{{ expense.cost }}</td>
                <td>{{ expense.comment }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.datetime }}</td>
                <td>
                    <form action='expenses/delete' method='post'>
                        <input type='hidden' name='expense_id' value='{{ expense.id }}'>
                        <input class='btn btn-danger' type='submit' value='Delete' name='submit'>
                    </form>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
