<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
    
{% include 'header.html' %}
    
<div id='expenses-all' class='container'>
    <h3>Previous expenses</h3>
    <ul id='months-list' class='list-unstyled'>
    {% for exp_month in months_all %}
        <li>
            <a class='btn btn-info'
               href='/slate/expenses?year={{ exp_month.year_num }}&month={{ exp_month.month_num }}'>
                {{ exp_month.view }}
            </a>
        </li>
    {% endfor %}
    </ul>

    {% include 'footer.html' %}

</div>
</body>
</html>
