<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}
   
<div id='edit-page' class='container'>
    <h3>Edit expense</h3>
    <div class='row'>
        <div class='col-md-4'>
            <form action='expenses/edit' method='POST'>
                <div class='form-group'>
                    <input class='form-control' name='cost' type='text' value='{{ expense.cost }}' autocomplete='off'/>
                </div>
                <div class='form-group'>
                    <select class='form-control' name='category_id' autocomplete='off'>
                    {% for category in categories %}
                        {% if category == expense.category %}
                            <option selected='selected' value='{{ category.name }}'>{{ category.name|capitalize }}</option>
                        {% else %}
                            <option value='{{ category.id }}'>{{ category.name|capitalize }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                <div class='form-group'>
                    <input class='form-control' name='comment' type='text' value='{{ expense.comment }}' autocomplete='off'/>
                </div>
                <div class='checkbox'>
                    <label>
                    {% if expense.discretionary %}
                        <input type='checkbox' checked name='discretionary'>Discretionary
                    {% else %}
                        <input type='checkbox' name='discretionary'>Discretionary
                    {% endif %}
                    </label>
                </div>
                <div class='form-group' id='edit-btn'>
                    <button type='submit' class='form-control btn btn-primary'>Edit</button>
                </div>
                <input type='hidden' name='id' value='{{ expense.id }}'> 
            </form>
            <a href='expenses' class='form-control btn btn-info'>Cancel</a>
            <form id='delete-button' action='expenses/delete' method='post' onclick='return confirm("Are you sure you want to delete this item?");'>
                <input type='hidden' name='id' value='{{ expense.id }}'>
                <input class='btn btn-danger' type='submit' value='Delete' name='submit'>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
