<div id='footer'>
    <div class='container-full'>
        <div class='container'>
            <ul class='list-inline'>
                {% if config.user %}
                    <li>
                        <a href='/slate/logout'>Logout</a>
                    </li>
                    <li>
                        <a href='/slate/account'>Account</a>
                    </li>
                {% else %}
                    <li>
                        <a href='/slate/login'>Login</a>
                    </li>
                    <li>
                        <a href='/slate/register'>Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
