<div id='header' class='container-full'>
    <div class='container'>
        <h1>
            <a href=''>Slate
                {% if not g.user.is_anonymous %}
                    <span>{{ g.user.name }}</span>
                    <ul class='list-inline pull-right'>
                        <li><a href='account/settings'>Settings</a></li>
                        <li><a href='account'>Account</a></li>
                    </ul>
                {% else %}
                    <span>No user logged in.</span>
                {% endif %}
            </a>
        </h1>
        {% if error %}
            <p class='highlight'>{{ error }}</p>
        {% endif %}
    </div>
</div>
