<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
<div id='index-page' class='container'>

    {% include 'header.html' %}

    {% if error %}
    <p class='highlight'>{{ error }}</p>
    {% endif %}
    
    <div class='row'>
        <div class='col-md-4'>
            <form action='/slate/expenses/add' method='POST'>
                <div class='form-group'>
                    <input class='form-control' name='cost' type='text' placeholder='Cost ($)' autocomplete='off'/>
                </div>
                <div class='form-group'>
                    <select class='form-control' name='category' autocomplete='off'>
                        <option value='select'>(category)</option>
                        {% for category in categories %}
                            <option value='{{ category }}'>{{ category }}</option>
                        {% endfor %}
                        </select>
                </div>
                <div class='form-group'>
                    <input class='form-control' name='comment' type='text' placeholder='Comment' autocomplete='off'/>
                </div>
                <div class='form-group'>
                    <button type='submit' class='form-control btn btn-primary'>Add</button>
                </div>
            </form>
            <a href='expenses' class='btn btn-info'>View expenses</a>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
