<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='index-page' class='page container'>
    <div class='row'>
        <div class='col-md-4'>
            <form action='expenses/add' method='POST'>
                <div class='form-group'>
                    <input class='form-control' name='cost' type='text' placeholder='Cost ($)' autocomplete='off'/>
                </div>
                <div class='form-group'>
                    <select class='form-control' name='category_id' autocomplete='off'>
                        <option value='select'>(category)</option>
                        {% for category in categories %}
                            <option value='{{ category.id }}'>{{ category.name|capitalize }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class='form-group'>
                    <input class='form-control' name='comment' type='text' placeholder='Comment' autocomplete='off'/>
                </div>
                <div class='form-group' id='add-btn'>
                    <button type='submit' class='form-control btn btn-primary'>Add</button>
                </div>
            </form>
            <div id='report-btn'>
                <a href='report' class='btn btn-info'>Report</a>
            </div>
            <div>
                <a href='expenses' class='btn btn-info'>Expenses</a>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
