<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
    
{% include 'header.html' %}
    
<div id='months-all-page' class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <h3>Previous expenses</h3>
            <div id="all-button">
                <a href="expenses/all" class="btn btn-info">All</a>
            </div>
            <ul id='months-list' class='list-unstyled'>
            {% for exp_month in months_all %}
                <li>
                    <a class='btn btn-info'
                       href='expenses?year={{ exp_month.year_num }}&month={{ exp_month.month_num }}'>
                        {{ exp_month.view }}
                    </a>
                    <span class='total'>${{ exp_month.total }}</span>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class='col-md-4'>
            <h3>Yearly reports</h3>
            <ul id='months-list' class='list-unstyled'>
            {% for year in years_all %}
                <li>
                    <a class='btn btn-info'
                       href='report?year={{ year }}'>
                        {{ year }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
