<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% with auth_message=auth_message %}
    {% include 'header.html' %}
{% endwith %}

<div id='register-page' class='page container'>

    {% if error %}
    <p class='highlight'>{{ error }}</p>
    {% endif %}

    <div class='row'>
        <div class='col-md-4'>
            <form action='/slate/register' method='POST'>
                <div class='form-group'>
                    <label>Username (alphanumeric)</label>
                    <input type='text' class='form-control' name='username' autocomplete='off'>
                </div>
                <div class='form-group'>
                    <label>Password</label>
                    <input type='password' class='form-control' name='password1' autocomplete='off'>
                </div>
                <div class='form-group'>
                    <label>Confirm password</label>
                    <input type='password' class='form-control' name='password2' autocomplete='off'>
                </div>
                <button type='submit' class='btn btn-primary'>Register</button>
            </form>
        </div>
    </div>

    {% include 'footer.html' %}

</div>
</body>
</html>
