<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<script src="static/lib/highcharts.js"></script>
<script src="static/js/report-monthly.js"></script>

<div id='report-page'>
    <div id='expense-controls' class='container-full'>
        <div class='container'>
            <div class='row'>
                <div id='details' class='col-md-2'>
                    <p>{{ report.description }}</p>
                    <p class='highlight'>
                        <strong>{{ report.total }}</strong>
                    </p>
                </div>
                <div class='col-md-2'>
                    <a class='btn btn-info' href='expenses{{ query_string }}'>Back</a>
                </div>
            </div>
        </div>
    </div>
{#    <div class='container'>#}
{#        <div class='row' id='breakout'>#}
{#            <div class='col-md-4'>#}
{#                <h3>Discretionary</h3>#}
{#                <table>#}
{#                    {% for category in discretionary %}#}
{#                    <tr>#}
{#                        <td><strong>{{ category|capitalize }}</strong></td>#}
{#                        <td>${{ discretionary[category] }}</td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                    <tr>#}
{#                        <td><strong>Total</strong></td>#}
{#                        <td>#}
{#                            <strong class='highlight'>${{ discretionary_sum }}</strong>#}
{#                        </td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#            <div class='col-md-4'>#}
{#                <h3>Food</h3>#}
{#                <table>#}
{#                    <tr>#}
{#                        <td><strong>Food (in)</strong></td>#}
{#                        <td>${{ food_in }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td><strong>Food (out)</strong></td>#}
{#                        <td>${{ food_out }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td><strong>Total</strong></td>#}
{#                        <td>${{ food_in + food_out }}</td>#}
{#                    </tr>#}
{#                    <tr>#}
{#                        <td><strong>Per meal</strong></td>#}
{#                        <td><strong class='highlight'>${{ cost_per_meal }}</strong></td>#}
{#                    </tr>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <div id='bar-chart-container'></div>
            </div>
            <div class='col-md-6'>
                <div id='pie-chart-container'></div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div id='time-series-container'></div>
    </div>

    {% include 'footer.html' %}

    <script>
        window.plotExpenses({{ report.get_category_subtotals()|safe }}, {{ report.get_ordered_expenses()|safe }});
    </script>

</div>
</body>
</html>
