<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<script src="static/lib/highcharts.js"></script>
<script src="static/js/report-base.js"></script>
<script src="static/js/report-yearly.js"></script>

<div id='report-page'>
    <div id='expense-controls' class='container-full'>
        <div class='container'>
            <div class='row'>
                <div id='details' class='col-md-2'>
                    <p>{{ report.description }}</p>
                </div>
                <div class='col-md-2'>
                    <a class='btn btn-info' href='expenses{{ query_string }}'>Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row' id='breakout'>
            <div class='col-md-4'>
                <h3>Overview</h3>
                <table>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong class='highlight'>{{ report.total }}</strong></td>
                    </tr>
                    <tr>
                        <td><strong>$ per day</strong></td>
                        <td>${{ report.average }}</td>
                    </tr>
                    <tr>
                        <td><strong>Median</strong></td>
                        <td>${{ report.median }}</td>
                    </tr>
                    <tr>
                        <td><strong>Max</strong></td>
                        <td>${{ report.max_ }}</td>
                    </tr>
                    <tr>
                        <td><strong>Transactions</strong></td>
                        <td>{{ report.count }}</td>
                    </tr>
                    <tr>
                        <td><strong>Transactions per day</strong></td>
                        <td>{{ report.num_expenses_per_day }}</td>
                    </tr>
                </table>

                {% if report.supports_food_analysis %}
                    <div>
                        <h3>Food</h3>
                        {% set food_total, food_categories, food_cost_per_meal = report.food %}
                        <table>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td><strong class='highlight'>{{ food_total }}</strong></td>
                            </tr>
                            {% for category, subtotal in food_categories.items() %}
                                </tr>
                                    <td><strong>{{ category|capitalize }}</strong></td>
                                    <td>{{ subtotal }}</td>
                                <tr>
                            {% endfor %}
                            <tr>
                                <td><strong>Per meal</strong></td>
                                <td>{{ food_cost_per_meal }}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div>
            <div class='col-md-4' id='repeated-expenses-container'>
                <h3>Repeated Expenses*</h3>
                <p>
                    <em>* Repeated {{ MIN_NUM_REPEATED }}x or more</em>
                </p>
                <table>
                    {% for comment, subtotal in report.get_repeated_expenses().items() %}
                        <tr>
                            <td><strong>{{ comment }}</strong></td>
                            <td>{{ subtotal }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-6'>
                <div id='bar-chart-container'></div>
            </div>
            <div class='col-md-6'>
                <div id='pie-chart-container'></div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div id='time-series-container'></div>
    </div>
    <div class='container'>
        <div id='categories-by-month-container'></div>
    </div>
    <div class='container'>
        <div id='category-sparklines'></div>
    </div>
    <div class='container'>

    </div>

    {% include 'footer.html' %}

    <script>
        window.plotExpenses({{ report.get_category_subtotals()|safe }}, {{ report.get_ordered_expenses()|safe }});
    </script>

</div>
</body>
</html>
