<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<script src="static/js/report-base.js"></script>

<div id='report-page'>
    <div id='expense-controls' class='container-full'>
        <div class='container'>
            <div class='row'>
                <div id='details' class='col-md-2'>
                    <p>{{ report.description }}</p>
                </div>
                <div class='col-md-2'>
                    <a class='btn btn-info' href='expenses{{ report.query_string }}'>Expenses</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row' id='breakout'>
            <div class='col-md-12'>
                <p id='total'>
                    <strong class='highlight'>Total spent: {{ report.total }}</strong>
                </p>
                <table>
                    <thead>
                        <td>Category</td>
                        <td>Spent</td>
                        <td>Remaining</td>
                    </thead>
                    {% for item in report.get_category_subtotals() %}
                    <tr>
                        <td>{{ item['category'] }}</td>
                        <td>{{ item['subtotal'] }}</td>
                        {% if item['budget'] %}
                            <td>{{ item['budget'] - item['subtotal'] }} ({{ item['budget'] }})</td>
                        {% else %}
                            <td>0</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>
