<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<script src="static/lib/highcharts.js"></script>
<script src="static/js/report-base.js"></script>

<div id='report-page'>
    <div id='expense-controls' class='container-full'>
        <div class='container'>
            <div class='row'>
                <div id='details' class='col-md-2'>
                    <p>{{ report.description }}</p>
                </div>
                <div class='col-md-2'>
                    <a class='btn btn-info' href='expenses{{ report.query_string }}'>Back</a>
                </div>
            </div>
        </div>
    </div>
    <div class='container'>
        <div class='row' id='breakout'>
            <div class='col-md-4'>
                <table>
                    <tr>
                        <td><strong>Total</strong></td>
                        <td><strong class='highlight'>{{ report.total }}</strong></td>
                    </tr>
                    {% for item in report.get_category_subtotals() %}
                    <tr>
                        <td><strong>{{ item['category'] }}</strong></td><td>{{ item['subtotal'] }}</td><td>{{ item['budget'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

    <script>
        window.plotExpenses({{ report.get_category_subtotals()|safe }}, {{ report.get_ordered_expenses()|safe }});
    </script>

</div>
</body>
</html>
