<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>
<div class='container'>
    <h1>Expenses</h1>
    <ul>
        <li><a href="/view">all</a></li>
    {% for category in categories %}
        <li><a href="{{ category }}">{{ category }}</a></li>
    {% endfor %}
    </ul>
    <table class='table'>
        {% for expense in expenses %}

        <tr>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.comment }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.datetime }}</td>
        </tr>

        {% endfor %}
    </table>
</div>
</body>
</html>
