/* Colors
 * ------ */
/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Sticky Footer. Do not change.
 * ----------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
/* Tag and general class selectors.
 * -------------------------------- */
a {
  color: #1689E5;
}
h1 {
  /*border-bottom: 1px solid #eee;*/
}
h1 a,
h1 a:hover,
h1 a:focus,
h1 a:active,
h1 span {
  color: white;
  font-family: 'Roboto';
  font-weight: 100;
  text-decoration: none;
}
h1 span {
  font-size: 12px;
}
.highlight {
  color: #D40000;
}
.btn {
  border: none;
}
.btn.btn-primary {
  background-color: #1689E5;
}
.btn.btn-info {
  background-color: #7FB800;
}
.btn.btn-danger {
  background-color: #D40000;
}
/* Element selectors.
 * ------------------ */
#header {
  background-color: #17406B;
}
#header a {
  color: white;
}
#header h1 {
  margin-top: 10px;
}
#months-list li,
#category-list li {
  margin-bottom: 10px;
}
#container {
  height: 1000px;
  width: 1000px;
}
#index-page {
  margin-top: 20px;
}
#index-page a.btn {
  width: 100%;
}
#expenses-page table {
  font-size: 13px;
}
#expenses-page table td {
  padding: 4px;
  vertical-align: middle;
}
#expenses-page table form {
  margin-bottom: 0;
}
#expenses-page table input {
  font-size: 13px;
}
#expenses-page select {
  margin-bottom: 10px;
}
#expenses-page button,
#expenses-page a.btn {
  width: 100%;
}
#expenses-page #expense-controls {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
#footer {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}
#footer .container {
  margin-top: 20px;
}
